
body {
  color: #343434;
}

img {
  width: 400px;
}

header {
  background: #2F3061;
  color: #F7FFF7;
}

.projects {
  background: #F7FFF7;
}

.work-experience {
  background: #A1C6D7;
}

footer {
  background: #343434;
  color: #F7FFF7;
}
